@media (prefers-color-scheme: dark) {
  body {
    color: #f6f6f6;
    background: #1e1e1e;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #1e1e1e;
    background: #f6f6f6;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 6em;
  margin: 0.5em;
}
